chainlit==1.0.502
langchain==0.1.15
langchain-community==0.0.32
langchain-core==0.1.48
langchain-openai==0.1.4
langchain-text-splitters==0.0.1
openai==1.25.0
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
python-dotenv==1.0.1
python-engineio==4.9.0
python-socketio==5.11.2
simple-websocket==1.0.0
toml==0.10.2
tomli==2.0.1